In [25]:
import pandas as pd

df = pd.read_csv('marketing_data.csv')
df.isnull().sum()
df.info()
# df.columns
df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4    Income              2216 non-null   object
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Response             2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Country              2240 non-null   object
dtypes: int64(23), object(5)
memory usage: 490.1+ KB

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,"$84,835.00",0,0,6/16/14,0,189,...,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,"$57,091.00",0,0,6/15/14,0,464,...,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,"$67,267.00",0,1,5/13/14,0,134,...,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,"$32,474.00",1,1,5/11/14,0,10,...,2,7,0,0,0,0,0,0,0,AUS
4,5371,1989,Graduation,Single,"$21,474.00",1,0,4/8/14,0,6,...,2,7,1,0,0,0,0,1,0,SP
5,7348,1958,PhD,Single,"$71,691.00",0,0,3/17/14,0,336,...,5,2,0,0,0,0,0,1,0,SP
6,4073,1954,2n Cycle,Married,"$63,564.00",0,0,1/29/14,0,769,...,7,6,1,0,0,0,0,1,0,GER
7,1991,1967,Graduation,Together,"$44,931.00",0,1,1/18/14,0,78,...,3,5,0,0,0,0,0,0,0,SP
8,4047,1954,PhD,Married,"$65,324.00",0,1,1/11/14,0,384,...,9,4,0,0,0,0,0,0,0,US
9,9477,1954,PhD,Married,"$65,324.00",0,1,1/11/14,0,384,...,9,4,0,0,0,0,0,0,0,IND
10,2079,1947,2n Cycle,Married,"$81,044.00",0,0,12/27/13,0,450,...,10,1,0,0,0,0,0,0,0,US
11,5642,1979,Master,Together,"$62,499.00",1,0,12/9/13,0,140,...,6,4,0,0,0,0,0,0,0,SP
12,10530,1959,PhD,Widow,"$67,786.00",0,0,12/7/13,0,431,...,6,1,0,0,0,0,0,1,0,IND
13,2964,1981,Graduation,Married,"$26,872.00",0,0,10/16/13,0,3,...,2,6,0,0,0,0,0,0,0,CA
14,10311,1969,Graduation,Married,"$4,428.00",0,1,10/5/13,0,16,...,0,1,0,0,0,0,0,0,0,SP
15,837,1977,Graduation,Married,"$54,809.00",1,1,9/11/13,0,63,...,5,4,0,0,0,0,0,0,0,SP
16,10521,1977,Graduation,Married,"$54,809.00",1,1,9/11/13,0,63,...,5,4,0,0,0,0,0,1,0,SP
17,10175,1958,PhD,Divorced,"$32,173.00",0,1,8/1/13,0,18,...,3,4,0,0,0,0,0,0,0,SP
18,1473,1960,2n Cycle,Single,"$47,823.00",0,1,7/23/13,0,53,...,3,8,0,0,0,0,0,0,0,CA
19,2795,1958,Master,Single,"$30,523.00",2,1,7/1/13,0,5,...,2,7,0,0,0,0,0,0,0,CA

In [29]:
print(df[' Income '].head(10))

0    $84,835.00
1    $57,091.00
2    $67,267.00
3    $32,474.00
4    $21,474.00
5    $71,691.00
6    $63,564.00
7    $44,931.00
8    $65,324.00
9    $65,324.00
Name:  Income , dtype: object

In [28]:
# 1. After importing the data, examine variables such as Dt\_Customer and Income to verify their accurate importation.

In [7]:
print(df.columns.tolist())

['ID', 'Year_Birth', 'Education', 'Marital_Status', ' Income ', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Response', 'Complain', 'Country']

In [30]:
## I notice there is a space in income
df.columns = df.columns.str.strip()
print(df.columns.tolist()) # print to check and see if it's corrected.

['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Response', 'Complain', 'Country']

In [9]:
# the list of columns is small enough to visually check the rest of them for similar issues.  If it was a really large dataset, I would proactively strip them all.

In [10]:
print(df['Dt_Customer'])

0        6/16/14
1        6/15/14
2        5/13/14
3        5/11/14
4         4/8/14
          ...
2235      3/7/13
2236     1/22/13
2237     12/3/12
2238    11/29/12
2239      9/1/12
Name: Dt_Customer, Length: 2240, dtype: object

In [11]:
# this data is not in the correct datetime format (as also we learn from .info the datatype is an object) so I need to convert it.

In [16]:
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%Y-%m-%d')

print(df['Dt_Customer'])

0      2014-06-16
1      2014-06-15
2      2014-05-13
3      2014-05-11
4      2014-04-08
          ...
2235   2013-03-07
2236   2013-01-22
2237   2012-12-03
2238   2012-11-29
2239   2012-09-01
Name: Dt_Customer, Length: 2240, dtype: datetime64[ns]

In [14]:
## 2. There are missing income values for some customers. Conduct missing value imputation, considering that customers with similar education and marital status tend to have comparable yearly incomes, on average. It may be necessary to cleanse the data before proceeding. Specifically, scrutinize the categories of education and marital status for data cleaning.

In [31]:
print(df['Income'].head(10))
df.info()

0    $84,835.00
1    $57,091.00
2    $67,267.00
3    $32,474.00
4    $21,474.00
5    $71,691.00
6    $63,564.00
7    $44,931.00
8    $65,324.00
9    $65,324.00
Name: Income, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   object
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Response             2240 non-null   int64
 26  Complain             2240 non-null   int64
 27  Country              2240 non-null   object
dtypes: int64(23), object(5)
memory usage: 490.1+ KB

In [33]:
# convert income to numeric 

# Clean the data in the column by removing commas and dollar signs
df['Income'] = df['Income'].astype(str).str.replace('[$,]', '', regex=True).str.strip()
# Now convert the cleaned column to numeric
df['Income'] = pd.to_numeric(df['Income'], errors='coerce')
print(df['Income'].head()) # check to see what it looks like

0    84835.0
1    57091.0
2    67267.0
3    32474.0
4    21474.0
Name: Income, dtype: float64